header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  background: linear-gradient(to right, #290168e0, #4d02a3c4, #070322bb);
  border-bottom: solid rgba(255, 255, 255, 0.24) 1px;

  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
  }

  .sessaologo {
    align-items: start;
    justify-content: space-around;
    .logo {
      width: 100%;
      height: 15vh;
      border-radius: 100%;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      &:hover {
        transform: translateY(20px);
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
        transition: 5s;
      }
    }
  }

  .sessaoNav {
    width: 30%;
    height: 15vh;
    display: flex;
    align-items: center;
    .uldaNav {
      width: 99%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        font-size: 25px;
      }
    }
  }

  .Home {
    background-color: #070322;
    border-radius: 10px;
  }

  .DetalhesdoEvento {
    background-color: #070322;
    border-radius: 10px;
  }
  .Contato {
    background-color: #070322;
    border-radius: 10px;
  }
}

@media (max-width: 1024px) {
  .sessaoNav {
    width: 50%;
  }

  .uldaNav li {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .sessaologo {
    margin-bottom: 10px;
  }

  .sessaoNav {
    width: 100%;
    height: auto;
  }

  .uldaNav {
    flex-direction: column;
    align-items: center;

    li {
      font-size: 18px;
      margin: 5px 0;
    }
  }
}

@media (max-width: 480px) {
  .sessaologo .logo {
    height: 10vh;
  }

  .sessaoNav {
    width: 100%;
  }

  .uldaNav li {
    font-size: 16px;
  }
}
