@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Righteous&display=swap');

.event {
  font-family: 'Cabin', Arial, sans-serif;
  cursor: pointer;
  width: 210px;
  height: max-content;
  min-height: 220px;
  max-height: 270px;
  position: relative;
  padding: 0;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
  border: 1px solid #000000;
  border-radius: 16px;
  font-size: 16px;
  line-height: 1.42857143;
  background: transparent;
  overflow: hidden;
  //border: solid brown 3px;
}

.event:hover {
  opacity: 95%;
  transition: opacity 0.35s;
}

.event_image {
  //border: solid darkmagenta 3px;
  width: 100%;
  height: 19vh;
  /* padding-bottom: 100%; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 0;
  display: block;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.event_date {
  //border: solid darkgoldenrod 3px;
  position: absolute;
  top: 10px;
  left: 7px;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 64px;
  height: 64px;
  display: flex;
  text-align: center;
  padding-top: 7px;
  font-size: 26px;
  line-height: 2;
  border-radius: 8px;
}

.event_date-day,
.event_date-month {
  display: block;
}

.event_date-month {
  font-size: 15px;
  margin-top: 5px;
}

.event_body {
  //border: solid darkblue 3px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 9px 24px 24px;
  font-size: 16px;
  line-height: 1.42857143;
  background-color: whitesmoke;
}

.event_location {
  font-size: 15px;
}
