.footer {
  background-color: #222;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #ffffffbd, #00000075, #5801fa);
  text-align: center;
  display: flex;
  align-items: center;
}

.contato {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  h3 {
    font-size: 35px;
    color: black;
  }
  p {
    font-size: 25px;
    color: white;
  }
}

.socialLinks {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 0;
    color: black;

    transition: transform 0.5s ease-in-out;
  }

  figure:hover {
    transform: scale(1.2) rotate(5deg);
  }

  figcaption {
    font-size: 14px;
  }
}
